<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epn.appraepn" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.epn.MainActivity"
            android:label="@string/app_name"
            android:allowBackup="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityActualizarPaciente"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityActualizarResponsable"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityAdministrarPaciente"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityAdministrarResponsable"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityAdministrarSitiosConocidos"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityAreaMovimientoPermitido"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityEstablecerIntervaloAlertas"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityEstablecerSitioCentral"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityRegistrarPaciente"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityRegistrarResponsable"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.example.epn.vista.ActivityEstablecerImagen"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
